# Importing Libraries

In [16]:
import requests as re
import pandas as pd

# Extracting Data

In [23]:
api_key='f73433ac7fc4f9cb9387403a3637aae5'
l=['rock','electronic','pop','jazz','blues','r&b','soul']
k=[]
genre=[]
for i in l:
    url=f'http://ws.audioscrobbler.com/2.0/?method=tag.gettopalbums&tag={i}&api_key={api_key}&format=json'
    r=re.get(url)
    a=r.json()
    k.append(a)
    for j in range(1,51):
        genre.append(i)

# Getting it in the required format

In [25]:
name=[]
artist=[]
rank=[]
for i in k:
    for j in i['albums']['album']:
        name.append(j['name'])
        artist.append(j['artist']['name'])
        rank.append(j['@attr']['rank'])
df=pd.DataFrame({'Album Name':name,'Artist Name':artist,'Rank':rank,'Genre':genre})

In [26]:
df.head()

                 Album Name    Artist Name Rank Genre
0       Minutes to Midnight    Linkin Park    1  rock
1   Abbey Road (Remastered)    The Beatles    2  rock
2  The Beatles (Remastered)    The Beatles    3  rock
3    Rumours (Super Deluxe)  Fleetwood Mac    4  rock
4                O My Heart  Mother Mother    5  rock

In [27]:
df.to_excel('Album_genre_rank.xlsx')